* {
    margin: 5px;
    padding: 0px;
    box-sizing:content-box
}


/* CSS vem aqui em baixo*/

@media screen and (max-width: 768px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    aside,
    main {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    body {
        overflow-x: hidden;
    }
}

body {
    background-image: url(pictures/foto1.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content:center;
    font-style: italic;
    color: rgb(197, 157, 157);
}

body a {
    display: flex;
    text-transform: uppercase;
    text-decoration:none;
    color: rgb(161, 118, 78)
}

header {
    color: rgb(161, 118, 78)
    text-align: center;
    padding: 20px;
    height: 99vh;
    width: 350px;
    font-style: italic;
    margin-right: 100px;
}

.fotoLateral {
    width: 150%;
    height: 60%;
}

main {
    padding: 60px;
    text-align: justify
    
}

section {
    margin-block: 50px;
}

li {
    list-style-type: none;
}

#habilidades ul {
    padding-left: 0;
    font-style: italic;

}


#contato {
    width: 100%;
    border-top: 1px solid rgb(151, 101, 101);
}

#contato ul {
    padding-left: 0;
    display: flex;

}

.icone {
    fill: rgb(233, 227, 221);
    stroke: rgb(231, 127, 127);
    stroke-width: 5px;
    width: 75px;
    height: 75px;
}

footer {
    margin-top: 40px;
    text-align: center;
}

