* {
    margin: 5px;
    padding: 2px;

}


/* CSS vem aqui em baixo*/

body {
    background-image: url(pictures/foto1.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flow-root;
    flex-direction:column;
    text-align: center;
    font-style: italic;
    color: rgb(197, 157, 157);
}

body a {
    display: flex;
    text-transform: uppercase;
    text-decoration:none;
    color: rgb(161, 118, 78)
}

header {
    color: rgb(161, 118, 78)
    height: 100vh;
    width: 1200px;
    font-style: italic;
    margin-right:100px;
}

main {
    padding: 60px;
    text-align: justify
    
}

section {
    margin-block: 50px;
}

li {
    list-style-type: none;
}

#habilidades ul {
    padding-left: 0;
    font-style: italic;

}


#contato {
    width: 100%;
    border-top: 1px solid rgb(151, 101, 101);
}

#contato ul {
    padding-left: 0;
    display: flex;

}

.icone {
    fill: rgb(233, 227, 221);
    stroke: rgb(231, 127, 127);
    stroke-width: 5px;
    width: 75px;
    height: 75px;
}

footer {
    margin-top: 40px;
    text-align: center;
}

